language: python

python:
    - "2.7"
    - "2.6"
env:
    - LD_LIBRARY_PATH=/usr/local/lib MAGICKVERSION=6.8.9-10
    - MAGICKVERSION=current

before_install:
    - scripts/test-setup.sh
    - pip install cython
    - pip install futures

install:
    - make install

script:
    - nosetests -v -s
